.mat-dialog-container{
  background: transparent !important;
  box-shadow: none !important;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}